# 라이브러리

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import numpy as np
import seaborn as sns
warnings.filterwarnings('ignore')

# 데이터 확인

## 서울시민 행복지수_ 데이터 확인
1. 구분 항목
|항목|내용|
|---|---|
|성별|남자 / 여자|
|연령별|10대 / 20대 / 30대 / 40대 / 50대 / 60대이상 ` 파이차트`|
|~학력별~|~중졸이하 / 고졸이하 / `전문대 이하 / 4년제 이하 / 대졸 이하` / 대학원 이상~|
|소득별| 100 미만 / 100-200 미만/ ~200 미만~ / 200-300 미만 / 300-400 미만 / 400-500 미만 / 500 이상|
|~혼인상태별~|~기혼 / 미혼 / ( 이혼/사별/기타 ) / ( 이혼/별거 ) / 사별~|
|~지역대분류~|~도심권 / 동북권 / 서북권 / 서남권 / 동남권~ |
|지역소분류(25개 자치구)| 종로구 / 중구/ 용산구 / 성동구 / 광진구 / 동대문구 / 중랑구 / 성북구 / 강북구 / 도봉구 / 노원구 / 은평구 / 서대문구 / 마포구 / 양천구 / 강서구 / 구로구 / 금천구 / 영등포구 / 동작구 / 관악구 / 서초구 / 강남구 /  송파구 /  강동구|
| | |
|행복지수|소계 / 자신의 건강상태 / 자신의 재정상태 / 주위 친지 친구와의 관계 / 가정생활 / 사회생활 |
|기간| ~2003 2004 2005 2006 2007 2008 2009 2010 2011~ 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021|

In [2]:
dt = pd.read_csv('./data/시민행복지수_20221117171526.csv',encoding='cp949',sep='\t')
dt.head(3)
# 초기 데이터가 피벗형태 
# 년도 뒤에 .하고 숫자 붙는건 월이 하라 해당 년도에 대한 행복지수가 복수라 컬럼 안곂치려고 자동 숫자 생성된 것

,구분별(1),구분별(2),2003,2003.1,2003.2,2003.3,2003.4,2003.5,2004,2004.1,...,2020.2,2020.3,2020.4,2020.5,2021,2021.1,2021.2,2021.3,2021.4,2021.5
0,구분별(1),구분별(2),행복지수 종합,항목별 행복지수,항목별 행복지수,항목별 행복지수,항목별 행복지수,항목별 행복지수,행복지수 종합,항목별 행복지수,...,항목별 행복지수,항목별 행복지수,항목별 행복지수,항목별 행복지수,행복지수 종합,항목별 행복지수,항목별 행복지수,항목별 행복지수,항목별 행복지수,항목별 행복지수
1,구분별(1),구분별(2),소계,자신의 건강상태,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활,소계,자신의 건강상태,...,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활,소계,자신의 건강상태,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활
2,서울시,소계,6.28,6.29,4.95,6.72,7,6.43,6.42,6.56,...,5.99,6.64,6.67,6.43,6.27,6.63,5.7,6.38,6.45,6.2

항목 확인하기

In [4]:
dt[['구분별(1)','구분별(2)']]

    구분별(1)        구분별(2)
0   구분별(1)        구분별(2)
1   구분별(1)        구분별(2)
2      서울시            소계
3       성별            남자
4       성별            여자
5      연령별           10대
6      연령별           20대
7      연령별           30대
8      연령별           40대
9      연령별           50대
10     연령별        60대 이상
11     학력별         중졸 이하
12     학력별         고졸 이하
13     학력별        전문대 이하
14     학력별        4년제 이하
15     학력별         대졸 이하
16     학력별        대학원 이상
17     소득별      100만원 미만
18     소득별  100-200만원 미만
19     소득별      200만원 미만
20     소득별  200-300만원 미만
21     소득별  300-400만원 미만
22     소득별  400-500만원 미만
23     소득별      500만원 이상
24   혼인상태별            기혼
25   혼인상태별            미혼
26   혼인상태별      이혼/사별/기타
27   혼인상태별         이혼/별거
28   혼인상태별            사별
29   지역대분류           도심권
30   지역대분류           동북권
31   지역대분류           서북권
32   지역대분류           서남권
33   지역대분류           동남권
34   지역소분류           종로구
35   지역소분류            중구
36   지역소분류           용산구
37   지역소분류           성동구
38   지역소분류           광진구
39   지역소분류          동대문구
40   지역소분류           중랑구
41   지역소분류           성북구
42   지역소분류           강북구
43   지역소분류           도봉구
44   지역소분류           노원구
45   지역소분류           은평구
46   지역소분류          서대문구
47   지역소분류           마포구
48   지역소분류           양천구
49   지역소분류           강서구
50   지역소분류           구로구
51   지역소분류           금천구
52   지역소분류          영등포구
53   지역소분류           동작구
54   지역소분류           관악구
55   지역소분류           서초구
56   지역소분류           강남구
57   지역소분류           송파구
58   지역소분류           강동구

In [5]:
dt.iloc[1].unique()[2:]

array(['소계', '자신의 건강상태', '자신의 재정상태', '주위 친지 친구와의 관계', '가정생활', '사회생활'],
      dtype=object)

## 결측값
1. 결측값 '-' 형태로 나타남
2. '-' 을 NaN으로 바꿔주기
3. 데이터 프레임을 구분항목별로 나눈뒤에 결측값 있는 열 drop 하기

In [3]:
#dt.isna().sum().sum() # 결측값 0으로 나옴
#dt[dt['2003']=='-'] #결측값 '-'형태로 저장되어 있음
dt.replace('-',np.nan,inplace=True)

# 행복지수 항목 컬럼 바꾸기

In [4]:
dt.drop(index=0,inplace=True)
new_col = dt.columns.str.replace(".",'-').str.replace('-1','건강').str.replace('-2','재정').str.replace('-3','관계').str.replace('-4','가정').str.replace('-5','사회')
dt.columns = new_col
dt.drop(index=1)
dt.reset_index(drop=True,inplace=True)
dt.head()

,구분별(1),구분별(2),2003,2003건강,2003재정,2003관계,2003가정,2003사회,2004,2004건강,...,2020재정,2020관계,2020가정,2020사회,2021,2021건강,2021재정,2021관계,2021가정,2021사회
0,구분별(1),구분별(2),소계,자신의 건강상태,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활,소계,자신의 건강상태,...,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활,소계,자신의 건강상태,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활
1,서울시,소계,6.28,6.29,4.95,6.72,7,6.43,6.42,6.56,...,5.99,6.64,6.67,6.43,6.27,6.63,5.7,6.38,6.45,6.2
2,성별,남자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.97,6.61,6.66,6.44,6.29,6.69,5.73,6.38,6.45,6.21
3,성별,여자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.01,6.67,6.67,6.41,6.25,6.56,5.68,6.39,6.45,6.19
4,연령별,10대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.47,7.58,7.45,7.32,6.66,7.28,5.93,6.76,6.71,6.6

## 구분 항목별로 데이터 프레임 나누기

In [12]:
def rdr(dt):
    dt.reset_index(drop=True, inplace=True) #인덱스 재정렬
    dt.drop(columns='구분별(1)',inplace=True) # 컬럼 삭제
    dt.rename(columns={'구분별(2)' : '구분'},inplace=True) #컬럼명 변경
    # dt.set_index('구분',inplace=True) #결측값 확인하고 주석처리해서 다시 돌리기 

dt_seoul = dt[dt['구분별(1)']=='서울시']   
dt_sex = dt[dt['구분별(1)']=='성별']
dt_age = dt[dt['구분별(1)']=='연령별']
dt_edu = dt[dt['구분별(1)']=='학력별']
dt_income = dt[dt['구분별(1)']=='소득별']
dt_marry = dt[dt['구분별(1)']=='혼인상태별']
dt_big = dt[dt['구분별(1)']=='지역대분류']
dt_gu = dt[dt['구분별(1)']=='지역소분류']

rdr(dt_seoul)
rdr(dt_sex)
rdr(dt_age)
rdr(dt_edu)
rdr(dt_income)
rdr(dt_marry)
rdr(dt_big)
rdr(dt_gu)

## 결측갑 확인하기
- 지역소분류는 결측값 없음
|성별|24|
|---|---|
|남자|12|
|여자|12|

|나이|72|
|---|---|
|10대|12|
|20대|12|
|30대|12|
|40대|12|
|50대|12|
|60대 이상|


|교육| 240|
|---|---|
|중졸 이하|12|
|고졸 이하|12|
|전문대 이하|78|
|4년제 이하|78|
|대졸 이하|48|
|대학원 이상|12|

|소득| 192 |
|---|---|
|100만원 미만|18|
|100-200만원 미만|     18|
|200만원 미만|        108|
|200-300만원 미만|     12|
|300-400만원 미만|     12|
|400-500만원 미만|     12|
|500만원 이상|         12|


|결혼| 180 |
|---|---|
|기혼|          12|
|미혼|          12|
|이혼/사별/기타|    96|
|이혼/별거|       30|
|사별|          30|

|대분류| 60 |
|---|---|
|도심권|    12|
|동북권|    12|
|서북권 |   12|
|서남권|   12|
|동남권|    12|

In [11]:
# def cnt_na(dt):
#     return dt.T.isna().sum()

# print("====결측값 확인====")
# print(f'성별: {cnt_na(dt_sex).sum()} \n{cnt_na(dt_sex)}\n')
# print(f'나이: {cnt_na(dt_age).sum()} \n{cnt_na(dt_age)}\n')
# print(f'교육: {cnt_na(dt_edu).sum()}\n{cnt_na(dt_edu)}\n')
# print(f'소득: {cnt_na(dt_income).sum()} \n{cnt_na(dt_income)}\n')
# print(f'결혼: {cnt_na(dt_marry).sum()} \n{cnt_na(dt_marry)}\n')
# print(f'대분류: {cnt_na(dt_big).sum()} \n{cnt_na(dt_big)}\n')
# print(f'소분류(구) \n{cnt_na(dt_gu)}') # 결측값 없음

## 데이터 프레임 저장하기

In [16]:
# dt_seoul.to_csv('./data/seoul.csv')
# dt_sex.to_csv('./data/sex.csv')
# dt_age.to_csv('./data/age.csv')
# dt_income.to_csv('./data/income.csv')
# dt_gu.to_csv('./data/gu.csv')